.post-Form {
    background: white;
    padding: 10px;
    margin: 5px;
}

input#imgurl {
    margin: 10px;
}

input#ptitle {
    margin: 10px;
}

input#date {
    margin: 10px;
}

input#prescription {
    margin: 10px;
}

input#purl {
    margin: 10px;
}

textarea#content {
    margin: 10px;
}

input#dlink {
    margin: 10px;
}

input#os {
    margin: 10px;
}

input#fsize {
    margin: 10px;
}

button {
    margin: 20px;
    padding: 5px;
}

img#post-image {
    width: 25%;
    padding: 10px;
}

.error {
      color: red;
      font-size: 0.9em;
    }

.aside {
         margin-top: 20px;
 
}
