@import url(//fonts.googleapis.com/earlyaccess/myanmarsanspro.css); /*font-family: 'Myanmar Sans Pro', sans-serif;*/
@import url(//fonts.googleapis.com/earlyaccess/khyay.css); /*font-family: 'Khyay', sans-serif;*/
@import url("//mmwebfonts.comquas.com/fonts/?font=pyidaungsu"); /*font-family: "Pyidaungsu";*/

body {
  background-color: #333;
  font-family:'Pyidaungsu', sans-serif;
        }

.container-box {
    margin-top: 65px;
}

.post-container {
        background-color: #444;
        padding: 15px;
        margin: 10px 0;
        color: #fff;
        display: flex;
        align-items: center;
        border-radius: 8px;
}

.thumbnail {
        width: 100px;
        height: 100px;
        background-color: #ccc;
        margin-right: 15px;
        border-radius: 8px;
}

img.thu-img {
}

.post-content {
        flex: 1;}

    
.p-title a {
        color: #fff;
        font-size: 1.5em;
        text-decoration: none;
}

.p-description a {
        color: #bbb;
        text-decoration: none;
}

.p-next a {
        display: inline-block;
        padding-left: 5px;
    	padding-right: 5px;
    	padding-top: 2px;
    	padding-bottom: 2px;
        margin-top: 10px;
        background-color: #777;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
}

.p-next a:hover {
        background-color: #888;
}

.no-results {
            text-align: center;
            font-family: monospace;
            font-size: 18px;
            color: red;
            margin-top: 80px;
        }

/*--------*/
        
.aside {
         margin-top: 20px;
 
}

.button {
            display: block;
            padding: 15px;
            width: 100%;
            margin: 10px auto;
            background-color: #000;
            color: #ff0;
            text-decoration: none;
            font-size: 18px;
            border-radius: 25px;
            font-family: 'Mon3', sans-serif;
            text-align: center;
}

.container {
    width: 100%;
    background: #444;
    color: #000;
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 2px;
}


h1#post-title {
    border-bottom: 1px solid #ddd;
}

.download-btn-box {
    width: 100%;
    display: flex;
    align-content: center;
}

.download-btn {
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    cursor: pointer;
    padding: 16px 25px;
    border-radius: 6px;
    align-items: center;
    white-space: nowrap;
    background: #4A98F7;
    transition: all 0.2s ease;
    width: 100%;
    justify-content: center;
}

.download-btn:hover{
  background: #2382f6;
}
.download-btn.timer{
  color: #000;
  background: none;
  transition: none;
  font-size: 1.6rem;
  pointer-events: none;
}
.download-btn.timer b{
  color: #4A98F7;
  padding: 0 8px;
}
.download-btn .icon{
  font-size: 2rem;
}
.download-btn .text{
  font-size: 1.5rem;
  padding-left: 10px;
}




.slide-box {
            text-align: center;
            background: #444;
            padding: 20px;
            border-radius: 10px;
	    margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

/*Subscribe Section*/
.subscribe-section {
            text-align: center;
            background: #444;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

.s-title{
	font-size: 1.5em;
	font-family: 'Myanmar Sans Pro', sans-serif;
        color: white;
}

.subscribe-btn {
    background: #ff0000;
    width: 50%;
    padding: 8px;
    color: white;
    font-family: monospace;
    font-size: 18px;
    margin: 5px;
  }

.subscribe-btn:hover {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

        
.title {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: white;
}


/*Additional Information*/
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

.info-value {
    color: #fff;
    font-size: 1.1em;
}

.flag-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.fa-windows {
    font-size: 1.2em;
    margin-right: 5px;
}



.header {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
}

.header-box {
  background-color: #000;
  padding: 15px;
}


.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}





/*Post Page*/
img#post-image {
    width: 100%;
    padding: 10px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  
  .aside {margin-top: 65px;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .aside {margin-top: 65px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
