@font-face {
  font-family: 'Mon3';
  font-style: NORMAL;
  src: url(fonts/mon3.woff) format('woff');
}

body {
  background-color: #333;
  font-family: 'Mon3', sans-serif;
        }


.web-title {
    color: yellow;
    font-size: 29.16px;
    padding: 5px;
    font-family: 'Mon3', sans-serif;
    text-align: center;
}

.web-description {
    font-size: 18px;
    color: white;
    font-family: 'Mon3', sans-serif;
    padding: 5px;
    text-align: center;
}


.aside {
 
}

.button {
            display: block;
            padding: 15px;
            width: 100%;
            margin: 10px auto;
            background-color: #000;
            color: #ff0;
            text-decoration: none;
            font-size: 18px;
            border-radius: 25px;
            font-family: 'Mon3', sans-serif;
            text-align: center;
}

.container {
    width: 100%;
    background: #444;
    color: #000;
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 2px;
}

.post-container {
        background-color: #444;
        padding: 15px;
        margin: 10px 0;
        color: #fff;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }
    .thumbnail {
        width: 100px;
        height: 100px;
        background-color: #ccc;
        margin-right: 15px;
        border-radius: 8px;
    }
    .post-content {
        flex: 1;
    }
    .p-title a {
        color: #fff;
        font-size: 1.5em;
        text-decoration: none;
    }
    .p-description a {
        color: #bbb;
        text-decoration: none;
    }
    .p-next a {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #777;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }
    .p-next a:hover {
        background-color: #888;
    }

.container-box {
   margin-top: 80px;}
   
.normal-text{
  font-size: 14px;
  font-family: 'Mon3', sans-serif;
}

 .subscribe-section {
            text-align: center;
            background: #444;
            padding: 20px;
            border-radius: 10px;
	    margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .subscribe-section h2 {
            margin-bottom: 20px;
	    color: white;
        }
        
.subscribe-btn {
    background: #ff0000;
    width: 50%;
    padding: 8px;
    color: white;
    font-family: monospace;
    font-size: 18px;
    margin: 5px;
  }

.subscribe-btn:hover {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
}

.header-box {
  background-color: #000;
  padding: 15px;
}


.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.no-results {
            text-align: center;
            font-family: monospace;
            font-size: 18px;
            color: red;
            margin-top: 80px;
        }


/*Post Page*/
img#post-image {
    width: 100%;
    padding: 10px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  
  .aside {margin-top: 80px;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .aside {margin-top: 80px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
