@font-face {
    font-family: 'UmoeHandwriting';
    src: /*url('fonts/custom-font.woff2') format('woff2'),*/
         url('fonts/UmoeHandwriting.woff') format('woff'),
         url('fonts/UmoeHandwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
            background-color: #333;
        }
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.container {
    width: 100%;
    background: white;
    color: #000;
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 2px;
}

.subscribe-btn {
    color: white;
    background: #FF0000;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    font-family: serif;
}

.subscribe-btn:hover {
  background-color: #FF0000;
  color: white;
}

.header {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
}

.header-box {
  background-color: #000;
  padding: 15px;
}

input#searchBar {
    width: 100%;
    padding: 10px;
    margin: 5px;
    color: #000;
}

.footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.web-title {
    color: yellow;
    font-size: 29.16px;
    padding: 5px;
    font-family: ui-monospace;
    text-align: center;
}

.web-description {
    font-size: 18px;
    color: white;
    font-family: 'UmoeHandwriting', sans-serif;
    padding: 5px;
    text-align: center;
}



.search-box {

        }

.search-box input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: inherit;
        }

.search-box input:focus {
            border-color: #007BFF;
        }

.button {
            display: block;
            padding: 15px;
            margin: 10px auto;
            background-color: #000;
            color: #ff0;
            text-decoration: none;
            font-size: 18px;
            border-radius: 25px;
            font-family: inherit;
            text-align: center;
        }

.subscribe-buttons {
            margin-top: 50px;
        }

.subscribe-button {
            display: inline-block;
            width: 150px;
            padding: 10px;
            margin: 10px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border-radius: 25px;
        }

/* Responsive */
@media screen and (max-width: 500px) {

        
}
